[build]
  command = "npm ci && npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "22"
  NPM_FLAGS = "--legacy-peer-deps"
  GOOGLE_API_KEY = "AIzaSyDRbxhMa8u82D4iOOK7umOhFUfizW_mBqM"
  LLM_MODEL = "gemini-2.5-flash"
  FRAXTAL_RPC_URL = "https://rpc.testnet.frax.com"
  FRAXTAL_CHAIN_ID = "2523"
  FRAXTAL_EXPLORER = "https://hoodi.fraxscan.com"
  NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID = "c3aee729c450f2f8ff65ee01979e3f30"
  NEXT_PUBLIC_YFORGE_TOKEN_ADDRESS = "0x6b542A9361A7dd16c0b6396202A192326154a1e2"
  NEXT_PUBLIC_YFORGE_VAULT_ADDRESS = "0xa4F78fbf10440afEa067A8fc5391d87f78919107"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"